[data_groups]

# pairs containing:
#   data group = table access definition

unidades_de_medida = basi_200.unidades_de_medida
# (MT, KG, UN...)

conta_de_estoque = basi_150.conta_de_estoque
# agrupamentos de espécies

tamanho = basi_220.tamanho
# tamanhos de insumos e produtos acabados

cor = basi_100.cor
# tamanhos de insumos e produtos acabados

_insumo_nao_tecido_capa = basi_030.produtos_referencia_nivel_9
# apenas insumos não tecidos e malhas

_insumo_nao_tecido_tamanho = basi_020.produtos_referencia_nivel_9_tamanho
# tamanhos de insumos sem tecidos (e malhas)

_insumo_nao_tecido_tamanho_cor = basi_010.produtos_referencia_nivel_9_tamanho_cor
# cores de tamanhos de insumos sem tecidos (e malhas)

tecido-linha_de_produto = basi_120.tecido-linha_de_produto
# linha de produto de tecidos (insumos nível 2)

produto-linha_de_produto = basi_120.produto-linha_de_produto
# linha de produto de produtos (insumos nível 1)

tecido-artigo_de_produto = basi_290.tecido-artigo_de_produto
# artigo de produto de tecidos (insumos nível 2)

produto-artigo_de_produto = basi_290.produto-artigo_de_produto
# artigo de produto de produtos (insumos nível 1)

_insumo_tecido_capa = basi_030.produtos_referencia_nivel_2
# apenas tecidos e malhas

_insumo_tecido_tamanho = basi_020.produtos_referencia_nivel_2_tamanho
# tamanhos de tecidos e malhas

_insumo_tecido_tamanho_cor = basi_010.produtos_referencia_nivel_2_tamanho_cor
# cores de tamanhos de tecidos e malhas

_produto_colecao = basi_140.colecao
# coleção de produtos

ncm = basi_240.ncm
# NCM

[db.to.systextil]
dbms = oracle
hostname = localhost
port = 16521
servicename = .
schema = .
username = .
password = .

[db.from.pccon]
dbms = mssql
hostname = localhost
port = 16433
database = .
schema = .
username = .
password = .

[db.from.f1]
dbms = firebird
hostname = localhost
port = 13050
database = .
charset = .
username = .
password = .
